.dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 651px;
  height: 757px;
  margin: 46px auto;
  background: url("../../images/bg-img.jpg") no-repeat center / cover;

  .messages {
    height: 517px;
    border-bottom: 1px solid #DBDBDB;;
  }
}
