.block-three {
  display: flex;
  justify-content: space-between;
  width: 743px;
  height: 492px;
  margin: 0 auto;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      width: 241px;
      height: 241px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      padding: 15px;
      background: #e3ebd3;
    }

    .item-alert {
      position: relative;
      width: 241px;
      height: 241px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;

      .alert-img {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 2s ease;
      }

      &_image-bg {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        color: #ffffff;
        background: url("../../images/ship.jpg");
        padding: 15px;
        transition: 1s;
      }

      &:hover {
        .item-alert_image-bg {
          transition: 1s;
          filter: blur(15px);
        }

        .alert-img {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  &__items_large {
    width: 492px;
    height: 100%;
    background: #e3ebd3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}
