.block-two {
  display: flex;
  max-width: 743px;
  margin: 10px auto;

  &__items {
    display: flex;
    flex-direction: column;
    flex: 64%;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-right: 10px;

    .item-blocks {
      display: flex;

      &__item {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        flex: 50%;
        margin: 0 10px 10px 0;
        height: 155px;
        background: #e8ebed;
        padding: 15px;

        &_right {
          margin-right: 0;
        }
      }
    }

    .item_large {
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      height: 155px;
      background: #e8ebed;
      padding: 15px;
    }
  }

  &__colored-items {
    display: flex;
    flex-direction: column;
    flex: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    .item {
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      height: 155px;
      padding: 15px;

      &_blue {
        background: #90bce8;
        margin-bottom: 10px;
      }

      &_orange {
        background: #febf26;
      }
    }
  }

  @media (max-width: 320px) {
    order: 1;
  }
}
