.block-one {
  display: flex;
  justify-content: space-between;
  width: 743px;
  margin: 0 auto;

  &__text-field {
    box-sizing: border-box;
    width: 492px;
    height: 492px;
    background: #a2a9b7;
    padding: 30px 46px 53px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;

    .item {
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 15px;
      width: 241px;
      height: 241px;
      background: #a2a9b7;
    }
  }
}
